<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true">
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" disableAnsi="false"/>
        </Console>
        <RollingFile name="rollingFile"
                     fileName="logs/market-gateway-service-${date:dd.MM.yyy}.log"
                     filePattern="logs/$${date:yyyy-MM}/market-gateway-service-%d{dd.MM.yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="INFO"/>
            <AppenderRef ref="rollingFile" level="ERROR"/>
        </Root>
    </Loggers>

</Configuration>